<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态Echarts图表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}"/>
    <style>
        .echart-div {
            height: 500px;
            width: 500px;
            /* 水平垂直居中 */
            margin: auto;
        }

        .echart-container {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-main" style="width: 100%;">

    <div class="layui-row layui-col-space1">
        <div class="layui-col-md4">
            <!-- 模块名 -->
            <blockquote class="layui-elem-quote" style="border-left: 5px solid #3385FF;">树形结构</blockquote>
            <div class="echart-container" style="margin-top: 10px">
                <div id="test1" class="demo-tree demo-tree-box"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/javascript/jquery-2.1.4.js}"></script>
<script type="text/javascript" th:src="@{/plugins/echart/echarts.min.js}"></script>
<script>

    var tree = null;
    var layer = null;


    $(function () {

        layui.use(['tree', 'util'], function(){
             tree = layui.tree
             layer = layui.layer

    })


    /**
     * get请求
     * @param url
     * @param data
     * @param success
     * @param error
     */
    function get(url, data, success, error, async = true) {
        $.ajax({
            url: url,
            data: data,
            async: async,
            dataType: 'json',
            method: 'get',
            success: success,
            error: error
        })
    }
</script>