<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>动态Echarts图表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}"/>
    <style>
        .echart-div {
            height: 500px;
            width: 500px;
            /* 水平垂直居中 */
            margin: auto;
        }

        .echart-container {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-main" style="width: 100%;">

    <div class="layui-row layui-col-space1">
        <div class="layui-col-md4">
            <!-- 模块名 -->
            <blockquote class="layui-elem-quote" style="border-left: 5px solid #3385FF;">树形结构</blockquote>
            <div class="echart-container" style="margin-top: 10px">
                <div id="test1" class="demo-tree demo-tree-box"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/javascript/jquery-2.1.4.js}"></script>
<script>

    $(function () {
        layui.use('tree', function(){
            var tree = layui.tree;
            //渲染
            var inst1 = tree.render({
                elem: '#test1'  //绑定元素
                ,data: [{
                    title: '江西' //一级菜单
                    ,children: [{
                        title: '南昌' //二级菜单
                        ,children: [{
                            title: '高新区' //三级菜单
                            //…… //以此类推，可无限层级
                        }]
                    }]
                },{
                    title: '陕西' //一级菜单
                    ,children: [{
                        title: '西安' //二级菜单
                    }]
                }]
            });
        });
    })


    /**
     * get请求
     * @param url
     * @param data
     * @param success
     * @param error
     */
    function get(url, data, success, error, async = true) {
        $.ajax({
            url: url,
            data: data,
            async: async,
            dataType: 'json',
            method: 'get',
            success: success,
            error: error
        })
    })
</script>