#msgDiv{
    height: 100%;
    overflow:auto;
}
.my-msg-container {
    clear: both;
    position: relative;
}

.other-msg-container {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.left-img {
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

.right-img {
    border-radius: 50px;
    width: 45px;
    height: 45px;
    float: right;
    margin-top: 10px;
    margin-left: 2px;
}

.my-msg{
    float: right;
    margin-top: 10px;
}

.msg-common {
    vertical-align: middle;
    background-color: #eff3f6;
    max-width: 80%;
    /*宽度内容自适应*/
    width: -webkit-fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    /*文本自动换行*/
    word-break: break-all;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgb(207 209 211);
}


.scroller::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroller::-webkit-scrollbar-track {
    background-color:transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.scroller::-webkit-scrollbar-thumb {
    background-color: rgb(147,147,153,0.5);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}